/**
 * Mixins
 */

@mixin delay($order: 1) {
    transition-delay: calc(150ms * $order);
}

@mixin animationDelay($order: 1) {
    animation-delay: calc(150ms * $order);
}

@mixin inputSyle {
    appearance: none;
    background-color: #fff;
    border: var(--input-border-width) solid var(--color-text-disabled);
    border-radius: 12px;
    caret-color: $color-primary-action;
    color: var(--color-text-primary);
    font-size: 18px;
    line-height: 32px;
    min-width: 0;
    padding:
        calc(var(--input-padding-vertical) - var(--input-border-width)) var(--input-padding-right) calc(var(--input-padding-vertical) - var(--input-border-width)) var(--input-padding-left);
    transition: border-color 0.3s ease-in-out;

    &::placeholder {
        color: var(--color-text-placeholder);
    }

    &:hover {
        border-color: $color-primary-action;
    }

    &:focus {
        border-color: $color-primary-action !important;
        box-shadow: none !important;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
    }

    &:invalid {
        border-color: var(--color-error);
        caret-color: var(--color-error);
    }

    @media (min-width: $breakpoint-tablet) {
        min-width: calc(240px - (2 * var(--input-border-width)));
    }
}