<flynt-component 
  name="ContentModal"       
  id="contentModal" 
  aria-hidden="true" 
>
  <div 
    class="modal-container" 
  >
    <div class="modal-overlay">
      <div class="content-modal">
        <div class="close-button">
          <button data-action="close-modal" type="button" class="button--icon" data-size="small" data-icon="close-large" data-button-theme="tertiary"></button>
        </div>
        <div class="content-modal-inner active">
          <h2>title</h2>
        </div>
      </div>
    </div>
  </div>
</flynt-component>

