flynt-component[name="blockContentFullWidth"] + flynt-component[name="BlockContentMedia"] {
	margin-top: var(--space-section-small);
}
flynt-component[name="BlockContentMedia"] + flynt-component[name="BlockContentMedia"] {
	margin-top: var(--space-section-medium);
}

flynt-component[name="BlockContentMedia"] {
	margin-top: var(--space-section-large);
	position: relative;
	overflow: hidden;

	.pill {
		align-self: flex-start;
		margin-bottom: auto;
	}

	&[data-padding="extra"] {
		.content-section-media {
			@media (min-width: $breakpoint-tablet-horizontal) {
				padding-bottom: 176px;
			}
		}
	}

	&[data-color="pink"] {
		.content-section {
			background-color: $color-background-pink;
		}
	}
	&[data-color="white"] {
		.content-section {
			background-color: #fff;
		}
	}

	.content-section {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;


		gap: $space-xl;
		padding: $space-l $space-s $space-m;

		border-radius: var(--variable-radius);

		@media (min-width: $breakpoint-tablet) {
			align-items: center;
			gap: $space-2xl;
			padding: $space-xl $space-l $space-l;
		}

		@media (min-width: $breakpoint-tablet-horizontal) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;

			gap: $space-3xl;
			padding: $space-2xl;
		}
	}

	.content-section-text {
		position: relative;
		inline-size: 100%;
		padding-block-start: 13px;

		@media (min-width: $breakpoint-tablet-horizontal) {
			max-inline-size: 60%;
			min-height: 179px;
			padding-block-start: 0;

			align-self: stretch;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			max-width: math.percentage(math.div(741, 1449));
		}
	}

	.content-section-media {
		width: 100%;
		position: relative;

		@media (min-width: $breakpoint-tablet-horizontal) {
			max-width: math.percentage(math.div(600, 1449));
		}
	}

	.subtitle {
    width: 80%;
		position: relative;
		font-size: $step-0;
		--flow-space: var(--space-s);

		@media (min-width: $breakpoint-tablet-horizontal) {
			--flow-space: var(--space-m);
		}
	}

	.title {
		position: relative;
		font-size: $step-6;

		--flow-space: var(--space-l);
		@media (min-width: $breakpoint-tablet) {
			--flow-space: var(--space-xl);
		}
	}

	.cta-container {
		margin-top: var(--space-xl);
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: $space-s;
		position: relative;

		@media (min-width: $breakpoint-tablet) {
			flex-direction: row;
		}
	}



  // Video Player
  // TODO :: Abstract this css as it's used in BlackCarouselMedia too
  .video {
    height: 100%;
    border-radius: var(--variable-radius);
    overflow: clip;
    position: relative;

    &-player {
      inset: 0;
      position: absolute;
      z-index: 10;

      &[data-state='isLoading'] {
        .video-loader {
          display: block;
        }

        .video-playButton {
          display: none;
        }
      }

      &[data-state='isLoaded'] {
        .video-loader,
        .video-playButton {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }

    &:hover {
      .video-image img {
        transform: scale(1.05);
      }
    }

    &-image {
      height: 100%;
      .media {
        height: 100%;
      }
      img {
        transition: transform $transition-slow;
      }
      &[data-state='isHidden'] {
        visibility: hidden;
      }
    }

    iframe {
      block-size: 100%;
      display: none;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }

    --button-width: 60px;
    @media (min-width: $breakpoint-tablet) {
      --button-width: 100px;
    }

    &-playButton {
      block-size: 100%;
      cursor: pointer;
      display: block;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      outline: 0;
      position: absolute;
      z-index: 2;

      .button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }

      &--icon {

        &::before,
        &::after {
          content: '';
          inset-block-start: 50%;
          inset-inline-start: 50%;
          position: absolute;
          transition: $transition-quick background-color;
          translate: -50% -50%;
        }

        &::before {
          background-color: #fff;
          block-size: var(--button-width);
          border-radius: 50%;
          inline-size: var(--button-width);
        }

        &::after {
          content: '';
          position: absolute;
          width: 19px;
          height: 21px;
          margin-left: 3px;
          mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='21' viewBox='0 0 19 21' fill='none'%3e%3cpath d='M18.2919 9.9696C18.7776 10.25 18.7776 10.9511 18.2919 11.2315L1.89905 20.6959C1.41334 20.9764 0.806195 20.6258 0.806195 20.065L0.806196 1.13614C0.806196 0.575282 1.41334 0.224749 1.89905 0.505176L18.2919 9.9696Z' fill='%237A6BF7'/%3e%3c/svg%3e");
          mask-size: 100%;
          background-color: $color-primary-action;
        }
        &:hover {
          &::before {
            background-color: $color-primary-action;
          }
          &::after {
            background-color: #fff;
          }
        }
      }


    }

    &-loader {
      animation: loading 1.1s infinite linear;
      border-block-end: 4px solid rgba(255, 255, 255, 0.2);
      border-block-start: 4px solid rgba(255, 255, 255, 0.2);
      border-inline-end: 4px solid rgba(255, 255, 255, 0.2);
      border-inline-start: 4px solid #fff;
      display: none;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      margin-block-start: calc(var(--button-width) * -0.5);
      margin-inline-start: calc(var(--button-width) * -0.5);
      position: absolute;
      text-indent: -9999em;
      z-index: 1;

      @keyframes loading {
        0% {
          rotate: 0deg;
        }

        100% {
          rotate: 360deg;
        }
      }
    }
    &-loader,
    &-loader::after {
      block-size: var(--button-width);
      border-radius: 50%;
      inline-size: var(--button-width);
    }
  }

  .background-video {
    position: relative;
    height: 100%;

    video {
      object-fit: cover;
      height: 100%;
      width: 100%;

      opacity: 0;
      transition: opacity 1.5s ease 0.5s;
      
      border-radius: var(--variable-radius);

      &.load,
      &.loadeddata {
        opacity: 1;
      }
    }
  }
}
