<button 
  data-ref="menuButton" 
  class="button button--reversed" 
  type="button" 
  data-size="x-small" 
  data-button-theme="tertiary"
  data-icon="menu"
  aria-expanded="false" 
  aria-controls="navigationBurger-menu"
  >
  Menu
  <span class="visuallyHidden">{{ labels.toggleMenu }}</span>
  {# <span class="hamburger-lines" aria-hidden="true">
    <span class="hamburger-lines--primary"></span>
    <span class="hamburger-lines--secondary"></span>
  </span> #}
</button>
