{# <flynt-component load:on="idle" load:on:media="(max-width: 1279px)" name="NavigationBurger"> #}
<flynt-component name="NavigationBurger">
  <nav aria-label="{{ labels.ariaLabel|e }}">
    <div class="container">
      {% include 'Partials/_logo.twig' with {'logo': logo, 'site': site} only %}
      {% if labels %}
        {% include 'Partials/_hamburger.twig' with {'labels': labels} only %}
      {% endif %}
    </div>
    {% if menuPrimary %}
      {% include 'Partials/_menu.twig' with {'menuPrimary': menuPrimary.items, 'menuSecondary': menuSecondary.items } only %}
    {% endif %}
  </nav>
</flynt-component>
