flynt-component[name="BlockAnchorLinkBar"] {
	position: fixed;
	// inset-inline: 0;
	inset: 0;
	top: auto;
	padding-bottom: $space-l;
	z-index: 10;

	--button-gap: var(--space-xs);
	@media (min-width: $breakpoint-tablet) {
		--button-gap: var(--space-2xs);
	}

	
	// transition: transform 600ms cubic-bezier(0.3,2,0.5,1);
	transition: transform 350ms ease;
	
	// opacity: 0;
	transform: translateY(100%);

	
	.showAnchorLinkBar & {
		transition: transform 500ms cubic-bezier(0.24,1.67,0.73,1.01);
		transform: translateY(0);
	}

	.container {
		display: flex;
		justify-content: center;
	}

	.content-section {
		border-radius: 100px;
		background: #fff;
		border: 1px solid var(--color-background);
		// border: 1px solid red;
		grid-template-columns: 1fr;

		// display: inline-flex;
		display: inline-flex;
		flex-direction: row;
		
		// margin-inline: auto;
		
		gap: var(--button-gap);		
		padding: 8px;
	}

	.content-section-list {
		width: 100%;
		position: relative;
	}

	.anchor-list {
		display: none;
		@media (min-width: $breakpoint-tablet-horizontal) {
			display: flex;
		}
		flex-direction: row;
		position: relative;

		gap: var(--button-gap);	
		margin: 0;	
		// @media (min-width: $breakpoint-desktop) {
		// 	gap: $space-m;
		// }

		&-item {
			position: relative;
			list-style-type: none;
			margin: 0;
			margin-block-start: 0;

			// display: flex;
			// align-items: center;
			// gap: $space-xs;
		}
	}

	.download {
		margin: 0;
	}
}

